MappinDB_Appication/Map_SC.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Details">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Name"/>
        <xsd:element ref="Id"/>
        <xsd:element ref="Sal"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Id" type="xsd:string"/>
  <xsd:element name="Name" type="xsd:string"/>
  <xsd:element name="Sal" type="xsd:string"/>
</xsd:schema>