SOAPApplicationA/SoapApplicationA_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/SoapApplicationA/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/SoapApplicationA/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:element ibmSchExtn:docRoot="true" name="Detaisls">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Details" type="tns:Details"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="DetaislsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ResponceDetails" type="tns:ResDet"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="Details">
      	<xsd:sequence>
      		<xsd:element name="Name" type="xsd:string"/>
      		<xsd:element name="Id" type="xsd:int"/>
      		<xsd:element name="Address" type="xsd:string"/>

      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="ResDet">
      	<xsd:sequence>
      		<xsd:element name="Ename" type="xsd:string"/>
      		<xsd:element name="Eid" type="xsd:int"/>
      		<xsd:element name="Eadd" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>