DatabaseNodeS/orcl/system/DB.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://orcl/system" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:orclsystem="http://orcl/system">
  <!-- Message definition generated from C:\Users\Sreenivas Bandaru\IBM\ACET12\workspace\DB_INPUT\orcl.dbm -->

<!-- Complex type for orcl.SYSTEM.EMPLOYEES_1 -->
    <xsd:complexType name="EMPLOYEES_1Type">
    <xsd:sequence>
      <xsd:element name="EID">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="ENAME" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="DESIGNATION" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="ADDRESS" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

<!-- Global element for orcl.SYSTEM.EMPLOYEES_1 -->
    <xsd:element ibmSchExtn:docRoot="true" name="EMPLOYEES_1" type="orclsystem:EMPLOYEES_1Type"/>

<!-- Complex type for orcl.SYSTEM.EVENT_EMPLOYEES -->
    <xsd:complexType name="EVENT_EMPLOYEESType">
    <xsd:sequence>
      <xsd:element name="EVENTID">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="EID">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="EVENT_DESC" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="200"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

<!-- Global element for orcl.SYSTEM.EVENT_EMPLOYEES -->
    <xsd:element ibmSchExtn:docRoot="true" name="EVENT_EMPLOYEES" type="orclsystem:EVENT_EMPLOYEESType"/>
</xsd:schema>