RCD_Appplication/XML1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="DETAILS">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="NAME"/>
        <xsd:element ref="EMP"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="EMP" type="xsd:string"/>
  <xsd:element name="NAME" type="xsd:string"/>
</xsd:schema>